body, html {
    height: 100%;
}

.container {
    height: 100%;
}

.main {
    height: 30%;
}
.progress-bar{
    background-color: #FF8C00;
}
hr {
    width:90%;
    text-align:left;
    margin-left:0;
    border-top: 1px solid black;
}
.image1 {
    width: 70%;
    height: 120px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.image2 {
    width: 100%;
    height: 170px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.mlsa {
    background-image: url('images/MLSA.png');
}

.jpmorgan {
    background-image: url('images/jpmorgan.jpg');
}

.prism {
    background-image: url('images/prism_logo.png');
}

.mic {
    background-image: url('images/MIC.png');
}

.progress {
    width: 50%;
    margin-bottom: 18px;
}

.SkillGrid{
    display: inline-block;
    position: relative;
    top:0px;
    padding: 0.5em 1em;
    background: #e0e0e0;
    margin: 1em 0.5em;
    border-radius: 2px;
    transition: 0.5s;
}

.SkillGrid:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.card {
    margin-left: 3em;
    margin-right: 3em;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  }

.card-img-top {
    height: 12em;
}